.homeWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

h1{
  text-shadow: 1px 1px 10px #c5c6c7;
}

.formWrapper{
  background-color: #1f2833;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 85%;
}

.mainLabel{
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputField{
  display: flex;
  flex-direction: column;
}

.inputBox{
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 14px;
  background-color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-color1{
  background-color: #66fcf1;
}

.btn-color1:hover, .btn-color1:hover{
  background-color: #45a29e;
}

.btn-color2{
  background-color: white;
}

.btn-color2:hover{
  background-color: #c5c6c7;
}

.joinBtn{
  width: 100px;
  border-radius: 4px;
  margin-left: auto;
}

.createRoom{
  margin: 0 auto;
  margin-top: 15px;
}

.createRoomBtn{
  color: #66fcf1;
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.createRoomBtn:hover{
  color: #45a29e;
}

.editorPageWrapper{
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.sideBar{
  background-color: #0b0c10;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.topSide{
  flex: 1;
}


.userList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.user{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 550;
}

.userName{
  margin-top: 5px;
}

.copyBtn{
  font-weight: bold;
}

.leaveBtn{
  margin-top: 15px;
}

.editorWrapper{
  background-color: white;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 16px;
  line-height: 1.5;
  padding-top: 20px;
}